<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/chatApp" version="1.0.0" viewmodes="maximized">
<access origin="*"></access>
    <tizen:application id="FqdovJAul7.chatApp" package="FqdovJAul7" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <icon src="chatApp_icon.png" height="117" width="117"/>
    <name>chatApp</name>
    <tizen:profile name="tv"/>
</widget>
